
.tea{
  color: blueviolet !important;
  font-size: 60px;
}
.submit{
  font-size: 50px;
  color: blue;
}

.home{
  font-size: 50px;
  color: blue;
}
.img{
  height: 500px;
}
.button{
  background-color: brown;
}